{% extends 'base.html.twig' %}

{% block title %}New WebProyect{% endblock %}

{% block body %}
    <h1>Create new WebProyect</h1>

    {{ include('web_proyect/_form.html.twig') }}

    <a href="{{ path('app_web_proyect_index') }}">back to list</a>
{% endblock %}
